<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PALINDROM</title>
</head>

<body>
    <form action="/check-palindrom" method="POST">
        <label>Masuan kata :</label>
        <input type="text" placeholder="Palindrom" name="palindrom">
        <button type="submit">Submit</button>
    </form>
    <hr />
    <% if(origin) { %>
        <p>Jumlah Palindrom dalam kata '<%= origin %>' = <%= countPalindrom %>
        </p>
        <p>Palindrom Pertama dalam kata '<%= origin %>' = <%= firstWordPalindrom %>
        </p>
        <% } %>
</body>

</html>